.vidrierista-individual {
	.sintesis-header {
		.aclaracion.email a {
	 		color: $text-dark-secondary; 
	 		text-decoration: none; 
	 		&:hover, &:focus, &:active {
	 			text-decoration: underline; 
	 			color: $text-dark; 
	 		}
	 	}
	 	.estado {
	 		align-self: flex-start; line-height: 40px; 
	 	}
 	}
}
.vidrierista-perfil {
 	padding-top: 70px; padding-bottom: 50px;

}