
header.admin-header  {
	box-shadow: 0 1px 6px rgba(0,0,0,0.16); 
	z-index: 1; position: relative;
	a, .a {font: 400 16px/24px $font; vertical-align: -webkit-baseline-middle; }
	i.fa-chevron-down {
		font: 400 12px/24px $font-icons; 
		margin-left: 8px; 
		&:before {vertical-align: text-top; }
	}
	.menu li {
		padding: 0 13px; 
	}
	li.dropdown .sub-menu li {
		&, a {
	    	font: 400 16px/1.2em $font, sans-serif;

	    }
	}
	
	@media (min-width: $hamburger-end + 1) {
		.user-options {
			margin-left: 70px; 
		}	
	}
	@media (max-width: $hamburger-end) {
		.admin-menu {
			li .sub-menu {
				transition: height 0.5s ease-in; 
				overflow: hidden; 
				padding-bottom: 20px; 
			}

			li.dropdown.closed {
				.sub-menu {
					height: 0; 
				}
			}
			li:not(.closed) {
				> a, > .a {
					border-bottom: 1px solid $border-color; 
				}
				.sub-menu {
					height: auto; 
				}
			}
		}
	}
}